name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    uses: jacaudi/github-actions/.github/workflows/semantic-release.yml@main
    permissions:
      contents: write
      issues: write
      pull-requests: write
